.examvenue{
    grid-area: main;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100vw - 260px);
  }
.examtable th,.examtable td{
    border: 1px solid white;
    padding: 10px 30px;
  }
  .examtable{
    overflow-x: scroll;
  }
 .examtable table{
    border-radius: 20px;
  }
 .examtable th{
    background-color: rgb(0, 80, 150);
    border-radius: 20px;
  }
 .examtable tr:nth-child(odd) {background-color: #ffffff3e;}
 .examtable tr:hover{
    background-color: #ffffff73;
  }
  .examtable::-webkit-scrollbar{
    background-color: transparent;
}
  .examvenue button{
  margin: 30px;
  width: 100px;
  background-color: #226efd;
  border-radius: 100px;
  box-shadow: rgba(105, 219, 149, 0.2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: rgb(0, 56, 0);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.examvenue button:hover{
  box-shadow: rgba(255, 255, 255, 0.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-2deg);
  font-size: 16px;
  color: white;
}
  @media screen and (max-width: 992px) {
    .examvenue {
        width: 100vw;
        align-items: normal;
    }
    
}
  
  @media screen and (max-width: 576px) {
    .examvenue {
      font-size: 12px; 
    }
  }