.revaluation{
    grid-area: main;
    width: 100%;
}
.revaluation form{
}
.revaluation input,.revaluation select{
    margin: 20px;
    position: relative;
    width: 30%;
    height: 30px;
    border-radius: 10px;
    text-align: center;
}